{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'css/classification.css' %}" rel="stylesheet" type="text/css">
<script>
    document.addEventListener('DOMContentLoaded', function() {
        init();
    });
    function init() {
        document.getElementById('csv-checkbox').checked = true;
        document.getElementById('dataset_file').value = "";
        document.getElementById('perihelion').value = "";
        document.getElementById('aphelion').value = "";
    }
    
    function validateDatasetFile() {
        var fileInput = document.getElementById('dataset_file');
        var filePath = fileInput.value;
        var allowedExtensions = /(\.xls|\.xlsx|\.csv)$/i;
        if (!allowedExtensions.exec(filePath)) {
            document.getElementById('file_type_error').classList.add('unhide_div');
            document.getElementById('file_type_validated').classList.remove('unhide_div');
            fileInput.value = '';
            return false;
        } else {
            document.getElementById('file_type_error').classList.remove('unhide_div');
            document.getElementById('file_type_validated').classList.add('unhide_div');
            return true;
        }
    }

    function validatePerihelion() {
        var perihelion_point = document.getElementById('perihelion');
        if (!isNaN(perihelion_point.value)) {
            document.getElementById('perihelion_error').classList.remove('unhide_div');
            document.getElementById('perihelion_validated').classList.add('unhide_div');
            return true;
        } else {
            document.getElementById('perihelion_error').classList.add('unhide_div');
            document.getElementById('perihelion_validated').classList.remove('unhide_div');
            return false;
        }
    }

    function validateAphelion() {
        var aphelion = document.getElementById('aphelion');
        if (!isNaN(aphelion.value)) {
            document.getElementById('aphelion_error').classList.remove('unhide_div');
            document.getElementById('aphelion_validated').classList.add('unhide_div');
            return true;
        } else {
            document.getElementById('aphelion_error').classList.add('unhide_div');
            document.getElementById('aphelion_validated').classList.remove('unhide_div');
            return false;
        }
    }

    function submitDatasetForm() {
        if (validateDatasetFile()) {
            document.getElementById('input-form').classList.add('hide_div');
            document.getElementById("loader").classList.remove('hide_div');
            return true;
        } else {
            return false;
        }
    }

    function submitSingleForm() {
        if (validatePerihelion() && validateAphelion()) {
            document.getElementById('input-form').classList.add('hide_div');
            document.getElementById("loader").classList.remove('hide_div');
            return true;
        } else {
            return false;
        }
    }

    function changeForm(src) {
        if (src.value == "csv") {
            document.getElementById('input-csv-form').classList.remove('hide_div');
            document.getElementById('input-single-form').classList.add('hide_div');
        } else {
            document.getElementById('input-csv-form').classList.add('hide_div');
            document.getElementById('input-single-form').classList.remove('hide_div');
        }
    }
</script>
{% endblock head %}


{% block content %}
    <div class="ui raised very padded  container segment description">
        <h1 class="ui header">Classification of Asteroids</h1>
        <p>Asteroids are classified based on the values of their perihelion and aphelion points. Below is the graph showing the classification classes based on their aphelion and perihelion point</p>
        <img class="ui left floated large image" src="{% static 'images/Inner_solar_system_objects_top_view_for_wiki.png' %}" alt="classification graph">
        <h3>Asteroid Classifications: Exploring the Diversity of Solar System Debris</h1>
        <br />
        <p>Within the vast expanse of our solar system, asteroids stand as remnants of its primordial formation, offering valuable insights into the dynamic processes that shaped our celestial neighborhood. Classified based on their orbital properties and locations within the solar system, asteroids represent a diverse population of rocky bodies that orbit the Sun, each with its own unique characteristics and significance.</p>
        <br />
        <p>Near-Earth asteroids predominantly orbit outside Earth's path around the Sun, yet their trajectories bring them tantalizingly close to our planet. These asteroids are of particular interest due to their proximity and potential hazard, prompting ongoing monitoring efforts to assess the risk of collision with Earth</p>
        <br />
        <p>Residing within the asteroid belt between the orbits of Mars and Jupiter, Main Belt asteroids are rocky objects that provide a window into the early history of our solar system. Their diverse compositions and orbital dynamics offer valuable clues about the processes that governed the formation and evolution of the planets.</p>

    </div>
    <div class="ui raised very padded  container segment description">
        <h1 class="ui header">Input Data</h1>
        <div id="loader" class="d-flex justify-content-center hide_div">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
            </div>
        </div>
       <div id="input-form">
            <div class="d-flex justify-content-center">
                <div class="form-check form-check-inline input-selecters">
                    <input id="csv-checkbox" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="csv" checked onchange="changeForm(this)">
                    <label class="form-check-label" for="inlineRadio1">Input a csv file</label>
                </div>
                <div class="form-check form-check-inline input-selecters">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="single" onchange="changeForm(this)">
                    <label class="form-check-label" for="inlineRadio2">Input values individually</label>
                </div>
            </div>
            <br />
            <form id="input-csv-form" class="needs-validation input" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <input class="form-control form-control-sm" id="form_type" name="form_type" type="text" value="csv" hidden>
                    <label for="dataset_file" class="form-label">Upload File</label>
                    <input class="form-control form-control-sm" id="dataset_file" name="dataset_file" type="file" onchange="validateDatasetFile()" value="">
                    <div id="file_type_validated" class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="file_type_error" class="invalid-feedback" >
                        **Must be an excel file
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="" onclick="return submitDatasetForm()">Submit form</button>
                </div>
            </form>
            <form id="input-single-form" class="needs-validation input hide_div" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <input class="form-control form-control-sm" id="form_type" name="form_type" type="text" value="single" hidden>
                    <label for="perihelion" class="form-label">Perihelion</label>
                    <input class="form-control form-control-sm" id="perihelion" name="perihelion" type="text" value="" required onchange="validatePerihelion()">
                    <div id="perihelion_validated" class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="perihelion_error" class="invalid-feedback" >
                        Wrong Input
                    </div>
                    <br />
                    <label for="aphelion" class="form-label">Aphelion</label>
                    <input class="form-control form-control-sm" id="aphelion" name="aphelion" type="text" value="" required onchange="validateAphelion()">
                    <div id="aphelion_validated" class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="aphelion_error" class="invalid-feedback" >
                        Wrong Input
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="" onclick="return submitSingleForm()">Submit form</button>
                </div>
            </form>
    </div>
    </div>
{% endblock content%}